<main>
    <section id="section-login">
        <h2>Faça seu login</h2>
        <form class="row g-3">
            
              <label for="staticUsuario" class="visually-hidden">Email</label>
              <input type="text" name="usuario" [(ngModel)]="usuario" class="form-control" id="staticUsuario" placeholder="email@exemplo.com">
            
            <br>
            
              <label for="inputPassword2" class="visually-hidden">Senha</label>
              <input type="password" name="senha" [(ngModel)]="senha" class="form-control" id="inputPassword2" placeholder="senha">
              <br>
              <button type="submit" class="btn btn-primary mb-3" (click)="fazerLogin()">Entrar</button>
          
          </form>
    </section>
</main>
