<main>
    <h1>Atualizar produtos</h1>
      <section id="section-cadastro">
            <form *ngIf="produto">
                 
                    <label for="produto">Id</label>
                    <input type="text" class="form-control" name="id" [(ngModel)]="produto.id" readonly>
               
                  <br>
                    <label for="produto">Nome do Produto</label>
                    <input type="text" class="form-control" name="produto" [(ngModel)]="produto.produto">
               
                  <br>
                 
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control" name="descricao" [(ngModel)]="produto.descricao">
               
                  <br>
               
                    <label for="foto">Foto</label>
                    <input type="text" class="form-control" name="foto" [(ngModel)]="produto.foto">
                 
                  <br>

                    <label for="preco">Preço</label>
                    <input type="number" class="form-control" name="preco" [(ngModel)]="produto.preco">
                 
                  <br>
               
                    <button type="submit" class="btn btn-primary mb-3" (click)="atualizar(produto.id)">Atualizar produto</button>
                 
                </form>
          </section>

</main>